<div class="ui container">
    <h3>Enter your phone number to receive Trivia questions on the go!</h3 >
      <div class="ui form">
        <div class="five wide field">
            <form class="inline field" action='/phone/new' method='POST'>
              <input type="text" name="phone" placeholder="5125555555">
              <input class="ui teal button" type="submit" value="Submit">
            </form>
        </div>
      </div>
  </div>
</div>
